.header{
    padding:  0;
    ul{
        list-style: none;
        display: flex;
        width: 100%;
        // justify-content: space-between;
        align-items: center;
        margin: 0;
        li{
            display: inline-block;
            a,h4{
                font-size: 2.2rem;
                font-weight: 700;
                color: #454AFC;
                text-decoration: none;
            }
        }
    }
    .act-left{
        justify-content: flex-start;
    }
    .act-right{
        justify-content: flex-end;
        li:nth-child(2){
            margin-left: 3rem;
        }
    }
    .input-group{
        input{
            height: 5.5rem;
            font-size: 2rem;
        }
    }
    .menu{
        cursor: pointer;
        padding: 10px;
        .showmenu{
            padding: 2rem 0;
            visibility: hidden;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            width: 200px;
            z-index: 999;
            box-shadow: 0 1px 4px rgba(3, 27, 78, 0.308);
            background: white;
            transition: .5s all;
            ul{
                display: unset;
                list-style: none;
                li{
                    display: list-item;
                    padding: 1rem;
                    &:hover{
                        background: #454AFC;
                        a{
                            color: white;
                        }
                    }
                    a{
                        font-size: 2rem;
                    }
                }
            }
        }
        &:hover{
            box-shadow: 0 1px 4px rgba(3, 27, 78, 0.308);
            .showmenu{
                visibility: visible;
                opacity: 1;
                max-height: 700px;
            }
        }
    }
    .userAccount{
        cursor: pointer;
    }
}