p,li,a{
    font-size: 1.6rem;
    font-family: 'Brandon-grotesque-regular', sans-serif;
}

p,li{
    font-family: 'Brandon-grotesque-regular', sans-serif;
}

h1,h2,h3,h4,h5,a,th,td{
    font-family: 'Brandon-grotesque-regular', sans-serif;
}

label,button{
    font-family: 'Brandon-grotesque-regular', sans-serif !important;
}

input,textarea{
    font-family: 'Brandon-grotesque-regular', sans-serif;
    font-size: 1.6rem;
    padding-left: 1rem;
    &:focus{
        outline: none;
    }
}

@font-face {
    font-family: "Brandon-grotesque-light";
    src:
        url('/fonts/Brandon-grotesque-light.woff') format('woff'),
}

@font-face {
    font-family: "Brandon-grotesque-regular";
    src:
        url('/fonts/Brandon-grotesque-regular.woff') format('woff'),
}

@font-face {
    font-family: "Brandon-grotesque-black";
    src:
        url('/fonts/Brandon-grotesque-black.woff') format('woff'),
}


@font-face {
    font-family: "Brandon-grotesque-bold";
    src:
        url('/fonts/Brandon-grotesque-bold.woff') format('woff'),
}