.account{
    padding: 4rem 0;

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }

    .link-acc{
        padding: 1.4rem 1.2rem;
        font-family: Brandon-grotesque-bold;
        border-bottom: 1px solid #ced4da;
        font-size: 2rem;
        color: #007bff;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        &:first-child{
            border-top: 1px solid #ced4da;
        }
        &:hover{
            text-decoration: none;
            background-color: #F5F8FA;
        }
    }
    .active-link{
        background-color: #F5F8FA;
    }
    .edit-profile{
        padding: 0 7rem;
        form{
            .form-group{
                label{
                    font-size: 1.8rem;
                    text-align: right;
                    font-family: Brandon-grotesque-bold;
                }
                .form-control{
                    flex: 0 1 355px;
                    background-color: white !important;
                    border-color: #ced4da;
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    border-radius: 0;
                    font-size: 1.6rem;
                    &:focus {
                        color: #495057;
                        background-color: white;
                        border-color: unset;
                        outline: 0;
                        box-shadow: none;
                    }
                }
                button{
                    padding: 0 1.5rem;
                    font-size: 1.6rem;
                }
            }
        }
    }

}