.forget_password{
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40rem;
    .MuiFormHelperText-contained {
        margin-left: 0;
    }
    .MuiFormHelperText-root {
        margin: 8px 14px 0 0;
        font-size: 1.2rem;
        color: red;
        font-family: Brandon-grotesque-regular,sans-serif;
      }
    form{
        width: 400px;
        text-align: center;
        input{
            font-size: 1.6rem;
        }
        button{
            width: 100px;
        }
        .button_wrapper{
            margin-top: 2rem;
        }
    }

}

.modal_notification{
    width: 20rem;
    border-radius: 9px;
    height: 5rem;
    background-color: #fdfdfda6;
    border: 2px rgb(69, 74, 252) solid;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    transition: .7s all;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: #222222;
        margin: 0;
    }
}

.notif_init{
    top: 15%;
}

.link_expired{
    text-align: center;
    padding: 5rem;
}