.orders{
    padding: 0 4rem;
    table{
        th{
            font-size: 1.8rem;
            background-color: #f5f8fa;
        }
        td{
            font-size: 1.5rem;
        }
        .or-id{
            color: #0056b3;
        }
    }
}