.section_terms{
    padding: 4rem 0;
    .nav{
        a{
            font-family: "Brandon-grotesque-black";
            font-size: 4rem;
            color: #222222;
        }
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #222222;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 3px solid #30A4DD;
    }
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .nav-link {
        border: none;
        margin: .5rem 3rem .0 0;
        padding-bottom: 1rem;
    }
    .nav-tabs {
        border-bottom: 3px solid lightgrey;
        margin-bottom: 0;
    }
    .tab-content{
        margin-top: 5rem;
    }

    ul{
        position: relative;

        .hr-bl{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: .25rem;
            margin: 0;
            background: rgb(189, 189, 189);
        }
        li{
            display: inline;
        }
    }

    a {
        font-family: "Brandon-grotesque-black";
        font-size: 4rem;
        color: #222222;
        display: inline-block;
        width: 25%;
        margin: 0;
        text-decoration: none;
        padding-bottom: 1rem;
        cursor: pointer;
    }

    a.active{
        margin: 0;
    }

    .two.active ~ hr{
        margin-left: 25%;
    }

    .three{
        width: 50%;
    }

    .three.active ~ hr{
        width: 50%;
        margin-left: 50%;
    }

    hr {
        height: .25rem;
        width: 25%;
        margin: 0;
        background: #30A4DD;
        border: none;
        transition: .3s ease-in-out;
        position: relative;
        z-index: 2;
    }
}